.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed__inputContainer {
  background-color: white;
  padding: 10px;
  display: flex;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
  flex-direction: column;
}

.feed__input {
  border: 1px solid lightgray;
  border-radius: 30px;
  margin-top: 2px;
  display: flex;
  padding: 10px;
  color: gray;
  white-space: nowrap;
  align-items: center;
}

.feed__input > form > input {
  border: none;
  /* flex: 1; */
  margin-left: 10px;
  outline-width: 0;
  font-weight: 600;
}

.feed__input > input > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.feed__inputOptions > InputOption {
  justify-content: left;

}